.ant-select {
  .ant-select-selector {
    .ant-select-selection-wrap {
      font-size: 14px;
      color: var(--text-secondary) !important;
    }
  }
  .ant-select-selection-search {
    display: none !important;
  }
}
