.ant-tabs-nav-list {
  width: 100% !important;
  margin-left: 40px !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #175675 !important;
  text-shadow: none !important;
}

.ant-tabs .ant-tabs-tab {
  color: #71717a;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #175675;
  border-radius: 5px;
}

.ant-tabs-tab-btn {
  font-size: 15px;
  font-weight: 500px;
}
