.ant-modal {
  padding: 0 !important;
  top: 64px !important;
  .ant-modal-content {
    padding: 0 !important;
  }
}

.ant-modal-confirm-body-wrapper {
  padding: 16px !important;
}

.ant-modal-confirm-title {
  text-align: center !important;
}
